body {
    width: 60vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Arial", sans-serif;
}

ul {
    list-style-type: "- ";
  }

.header {
    color: white;
    height: 600px;
    background-image: url("../images/apple-pie.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image {
    width: 100%;
    height: auto;
}

.content {
    border-bottom: 2px solid grey;
}

.infographic {
    width: 400px;
    margin: auto;
}